.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header > p {
  max-width: 60%;
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #e3e1ef;
  border-radius: 20px;
  padding: 30px;
}

.feature > img {
  width: 80%;
  margin: 0 auto;
  height: auto;
}
